$header : linear-gradient(#a04886, #6f4ba7);
$ciem : linear-gradient(#111111, #25060b);
$txt : rgb(161, 161, 161);
$foot : rgb(37, 24, 28);
$body : linear-gradient(#2c1518, #301d1d);
$boxx : rgb(89, 71, 139);
$text2 : rgb(197, 205, 209);
$hed : rgb(27, 16, 17);
$txte : rgb(146, 146, 146);