* {
    font-family: Monaco, sans-serif;
  }
  
  .App {
    margin-top: 20px;
    width: fit-content;
    
  }
  
  .commentContainer {
    margin-top: 6px;
    background-color: #d3d3d3e0;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    width: 300px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .commentContainer:hover {
    background-color: #d3d3d3bf;
  }
  
  .inputContainer {
    display: flex;
    align-items: baseline;
    gap: 5px;
  }
  
  .inputContainer > span {
    margin-top: 5px;
  }
  
  .inputContainer__input {
    margin: 6px 0 0px 0;
    padding: 5px;
    display: flex;
    border: 1px solid lightgray;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 5px;
    background-color: #c0b9b9;
  }
  
  .first_input {
    margin: 0;
  }
  
  .commentContainer > span {
    margin: 0 5px;
  }
  
  .reply {
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    color: #4e4e4e;
    font-weight: 600;
    cursor: pointer;
  }
  
  .comment {
    color: #c7bcbc;
    background-color: #632b2c;
    letter-spacing: 0.8px;
  }
//-------------------------------------------------------------------------------
  .warning{
    height: auto;
    width: auro;
    position: absolute;
    right: 0;
    top: 10%;
    background-color: rgb(46, 69, 78);
    font-size: 1.1rem;
    color: rgb(221, 221, 221);
    margin-right: 1vw;
    padding: 5px;
    border-radius: 5px;
}
section{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80vw;
  margin: auto;
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
}

.cards{
  width: 25vw;
  padding: 20px;
}
.cards:hover{
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.image_box img{
  width: 310px;
  height: 200px;
}
.details p:nth-child(1){
  font-weight: bold;
  color: rgb(185, 185, 185);
  font-size: 1rem;
}
.details p:nth-child(2){
  color: rgb(185, 185, 185);
  font-size: 1rem;
}
.details p:nth-child(3){
  font-weight: bold;
  font-size: 1rem;
  color: rgb(189, 189, 189);
}
.details button{
  padding: 5px 10px;
  border: none;
  font-weight: bold;
  background-color: rgb(67, 101, 114);
  outline: none;
  border-radius: 2px;
}
*{
  margin: 0;
  padding: 0;
}
article{
  width: 90vw;
  margin: auto;

}
.cart_box img{
  width: 50px;
  height: 50px;
}
.cart_img{
  
  display: flex;
  width: 100px;
}
.cart_img p {
  
  font-weight: bold;
  margin-left: 10px;
}
.cart_box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  border-bottom: 2px solid rgb(46, 69, 78);
  padding-bottom: 5px;
}
.cart_box div:nth-child(2) button{
  padding: 5px 10px;
  font-weight: bold;
  margin-right: 5px;
}
.cart_box div:nth-child(3) button{
  padding: 5px 10px;
  font-weight: bold;
  letter-spacing: 2px;
  border:none;
  outline: none;
  color: white;
  background-color: rgb(109, 68, 87);
  border-radius: 5px;
  cursor: pointer;
}
.cart_box div:nth-child(3) button:hover{
  background-color: rgb(145, 34, 34);
}
.cart_box div:nth-child(3) span{
  background-color: rgb(211, 164, 172);
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 20px;
}
.total{
  display: flex;
  justify-content: space-between;
}
.total span:nth-child(1){
  font-size: 2rem;
  color: rgb(73, 29, 48);
  font-weight: bold;
  letter-spacing: 2px;
}
.total span:nth-child(2){
  font-size: 2rem;
  color: rgb(73, 29, 48);
  font-weight: bold;
}
*{
  margin:0;
  padding:0;
}
nav{
  width: 100vw;
  height: 60px;

}
.nav_box{
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.my_shop{
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(206, 193, 193);

  cursor: pointer;
}
.cart{
  cursor: pointer;
}

.cart span:nth-child(1){
  font-size: 2rem;
  color: rgb(204, 200, 200);
}

.cart span:nth-child(2){
  padding: 0 3px;
  background-color: rgb(128, 42, 42);
  color: white;
  font-weight: bold;
  border-radius: 5px;
  position: relative;
  top: -10px;
}
.imgr {
  margin-top: 2vh;
  width: 40px;
  height: 40px;
}
.body4{

    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100vw;
    height: 1000px;

  }